{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include "sections/head.html" %}
</head>

<body>
    {% include "sections/topbardstart.html" %}
    {% include "sections/navbar.html" %}
    {% include "sections/carrusel_inicio.html" %}
    {% include "sections/booking_start.html" %}
    {% include "sections/featurestart.html" %}
    {% include "sections/destination.html" %}
    {% include "sections/services.html" %}
    {% include "sections/package.html" %}
    {% include "sections/registration.html" %}
    {% include "sections/team.html" %}
    {% include "sections/testimonial.html" %}
    {% include "sections/footer.html" %}



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

    {% block extra_js %}
    
    
    {% endblock extra_js %}
</body>

</html>